{{define "login"}}
{{template "header"}}
{{template "nav-anon"}}

<div class="container">
<center><h1> <b><font color="green">Login Into Your Account</font></b></h1></center>
  <center><h2><font color ="red">{{.Message}} </font></h2></center>

  <form class="form-horizontal" action = "/login" method = "POST">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
      </div>
    </div>

    <div class="form-group">
      <div class="from-group">
      <center>  <button type="submit" class="btn btn-info">Submit</button> </center>
      </div>
    </div>
	<div class="form-group">

</div>
  </form>
     <div class="from-group">
  <center>   <h3><b><font color="black"> if you don't have an account ?<a href=/signup>Sign Up</a></font></b></h3> </center>
	  </div>
    </div>

{{template "footer"}}
{{end}}
