{{define "my-published-book"}}
{{template "header"}}
{{template "nav-auth"}}

<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
  <center><h2>List of my published book</h2>
  <table border="10" BORDERCOLORLIGHT=YELLOW BORDERCOLORDARK=BLUE>
  <tr>
    <th><center><b>  Cover Photo </b></center></th>
    <th> <center><b>   Book Title  </b></center></th>
    <th> <center><b>   Publisher Name   </b></center></th>
    </tr>

    {{if .Books}} {{range .Books}}

      <tr>
        <td> <img src="/uploads/CoverPhoto/{{.Cover}}" height="100" width="100" > </td>

       <td> <center> <a href="/view-book?book={{.BookId}}"> <h4>{{.Title}} </h4></a>  </center></td>

        <td> <center>  <h4>{{.PubName}} </h4> </center></td>

      </tr>
    {{end}}
    {{end}}
  </table></center>
  </body>
</html>

{{template "footer"}}
{{end}}
